# CSC110 Fall 2020: Final Project Additional Libraries
#
# In addition to the course libraries, for this project, the following libraries
# will be used:

# Data formatting
xlrd
csv

# GUI
pygame
pygame_gui
